    * {
        font-family: 'Single Day', cursive;
    }

    .button.desc {
        background-color: #8a0309;
        border-color: transparent;
        color: #fff !important;
        font-family: 'Single Day', cursive;
    }

    .button.desc.is-outlined {
        background-color: white;
        border-color: #8a0309;
        color: #8a0309 !important;
        font-family: 'Single Day', cursive;
    }

    .help {
        color: gray;
        font-size: 15px;
    }

    body {
        min-height: 100vh;
        background-color: #fff8dc;
    }

    .section {
        padding: 10rem 1.5rem;
        max-width: 750px;
        margin: auto;
    }

    .title {
        font-weight: 800;
        font-size: 5rem;
    }

    .desc {
        color: white !important;
    }

    .is-hidden {
        display: none !important;
    }

    .box {
        padding: 100px 20px 100px 20px;
        background-color: white;
        border-radius: 20px;
        border: solid 2px #8a0309;;
    }

    .input {
        margin: auto;
    }